body{
      background-color:#ededed;
}
  .top-container{
      background-color: #0A0A0A;
      height: 20vh;
  }
  .bottom-container{
      background-color: #1A1A1A;
      color: #C2C2C2;
      padding-left: 3%;
      padding-top:5em;
      padding-bottom:3em;
  }
  .button1{
      padding-top: 1%;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;  
  }
  .btn{
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      vertical-align: middle;
      appearance: none;
      text-decoration: none;
      font-family: Rubik, sans-serif;
      font-weight: 500;
      font-size: 1.2rem;
      min-width: 64px;
      padding:0.5em;
      color: rgb(26, 26, 26);
      background-color: rgb(0, 213, 250);
      border-radius: 3rem;
  }
  .imageContainer{
      position: absolute;
      top: 15%;
      left: 3%;
  }
  .doubt-container{
      background-color: white;
      height: 300px;
  }