/* .loader-container{
      width: 100%;

      height:100vh;
}
.circular-loader {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    
    .loader {
      border: 4px solid #b972eb;
      border-top: 4px solid #b972eb;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
     */

@keyframes rotate {
      from {
            transform: rotate(0deg);
      }

      to {
            transform: rotate(360deg);
      }
}


@-webkit-keyframes rotate {
      from {
            -webkit-transform: rotate(0deg);
      }

      to {
            -webkit-transform: rotate(360deg);
      }
}

.load {
      width: 50px;
      height: 50px;
      margin: 110px auto 0;
      border: solid 10px #8822aa;
      border-radius: 50%;
      border-right-color: transparent;
      border-bottom-color: transparent;
      -webkit-transition: all 0.5s ease-in;
      -webkit-animation-name: rotate;
      -webkit-animation-duration: 1.0s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;

      transition: all 0.5s ease-in;
      animation-name: rotate;
      animation-duration: 1.0s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
}

.loader-heading{
      color: gray;
      font-size: 2rem;
      margin-top: 0.6em;
}