.desktop .reach-out-to-us {
  color: transparent;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 5.556vw;
  font-weight: 700;
  left: 36.667vw;
  letter-spacing: 0;
  line-height: 5.556vw;
  position: absolute;
  text-align: center;
  top: 230vw;
}

.desktop .text-wrapper-55 {
  color: #ae3aff;
  text-decoration: underline;
}

.desktop .text-wrapper-56 {
  color: #000000;
}









.desktop .text-wrapper-61 {
  color: #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 2.222vw;
  font-weight: 600;
  left: 44vw;
  letter-spacing: 0;
  line-height: 1.389vw;
  position: absolute;
  text-align: center;
  top: 250vw;
  white-space: nowrap;
}


.desktop .group-33 {
  height: 3.333vw;
  left: 51.389vw;
  position: absolute;
  top: 259vw;
  width: 13.125vw;
}

.desktop .group-35 {
  height: 3.333vw;
  left: 76.319vw;
  position: absolute;
  top: 259vw;
  width: 13.056vw;
}


.desktop .group-34 {
  height: 3.333vw;
  left: 51.458vw;
  position: absolute;
  top: 270vw;
  width: 10.694vw;
}

.desktop .group-36 {
  height: 3.333vw;
  left: 76.319vw;
  position: absolute;
  top: 270vw;
  width: 8.472vw;
}

.desktop .text-wrapper-62 {
  color: #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: small;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 1.389vw;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-63 {
  color: #ae3aff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: small;
  font-weight: 500;
  left: 0.069vw;
  letter-spacing: 0;
  line-height: 1.389vw;
  position: absolute;
  text-align: center;
  top: 1.944vw;
  white-space: nowrap;
}


.desktop .text-wrapper-64 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: small;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 1.389vw;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-65 {
  color: #ae3aff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: small;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 1.389vw;
  position: absolute;
  text-align: center;
  top: 1.944vw;
  white-space: nowrap;
}



.desktop .text-wrapper-66 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: small;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 1.389vw;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-67 {
  color: #ae3aff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: small;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 1.389vw;
  position: absolute;
  text-align: center;
  top: 1.944vw;
  white-space: nowrap;
}



.desktop .text-wrapper-68 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: small;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 1.389vw;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-69 {
  color: #ae3aff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: small;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 1.389vw;
  position: absolute;
  text-align: center;
  top: 1.944vw;
  white-space: nowrap;
}

.rectangle-11 {
  background-color: #f7ebff;
  border-radius: 6px;
  height: 5.556vw;
  left: 43.889vw;
  position: absolute;
  top: 257.694vw;
  width: 5.556vw;
}

.rectangle-12 {
  background-color: #f7ebff;
  border-radius: 6px;
  height: 5.556vw;
  left: 43.889vw;
  position: absolute;
  top: 268.806vw;
  width: 5.556vw;
}

.rectangle-13 {
  background-color: #f7ebff;
  border-radius: 6px;
  height: 5.556vw;
  left: 68.75vw;
  position: absolute;
  top: 257.694vw;
  width: 5.556vw;
}

.rectangle-14 {
  background-color: #f7ebff;
  border-radius: 6px;
  height: 5.556vw;
  left: 68.75vw;
  position: absolute;
  top: 268.806vw;
  width: 5.556vw;
}

  /* after socials */
  .desktop .overlap-8 {
    background-color: #ae3aff;
    height: 10vw;
    left: 0;
    position: absolute;
    top: 290vw;
    width: 100vw;
  }
  
  .desktop .text-wrapper-70 {
    color: #ffffff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: small;
    font-weight: 600;
    left: 40vw;
    letter-spacing: 0;
    line-height: 1.389vw;
    position: absolute;
    text-align: center;
    top: 5vw;
    white-space: nowrap;
  }

@media only screen and (max-width: 600px) {
  .desktop .reach-out-to-us {
    top: 315vw;
  }

  
.desktop .text-wrapper-61 {
  top: 335vw;
}


.desktop .group-33 {
  height: 3.333vw;
  left: 20vw;
  position: absolute;
  top: 339vw;
}

.desktop .group-35 {
  height: 3.333vw;
  left: 65vw;
  position: absolute;
  top: 339vw;
}


.desktop .group-34 {
  height: 3.333vw;
  left: 20vw;
  position: absolute;
  top: 350vw;
}

.desktop .group-36 {
  height: 3.333vw;
  left: 65vw;
  position: absolute;
  top: 350vw;
}

.rectangle-11 {

  top: 337.694vw;
  left: 12vw
}

.rectangle-12 {
  left: 12vw;
  top: 348.806vw;
}

.rectangle-13 {

  top: 337.694vw;
  left: 57vw;
}

.rectangle-14 {
  top: 348.806vw;
  left: 57vw;
}

.text-wrapper-63, .text-wrapper-65,.text-wrapper-67,.text-wrapper-69{
  display: none;
}


  /* after socials */
  .desktop .overlap-8 {
    width: 100vw;
    top: 370vw
  }
  .desktop .text-wrapper-70{
    left:30%
  }
}