.post-container {
      margin-top: 2em;
      padding: 1.5rem 1.5rem;
      background-color: rgb(26, 26, 26);
      border-radius: 0.75rem;
}
/* input-section */
.input-container {
      gap: 1.5rem;
      padding-bottom: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #3A3B3C;
}

.pfp img {
      width:60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
}

.input-doubt {
      font-family: Rubik, sans-serif;
      font-weight: 400;
      font-size: 0.857143rem;
      line-height: 1.4375em;
      color: rgb(255, 255, 255);
      cursor: text;
      display: inline-flex;
      align-items: center;
      width: 100%;
      background-color: rgb(51, 51, 51);
      border-radius: 2rem;
      padding: 1rem 1rem;
}

.input-doubt input {
      outline: none;
      font: inherit;
      letter-spacing: inherit;
      color: currentcolor;
      padding: 4px 0px 5px;
      border: 0px;
      background: none;
      height: 1.4375em;
      min-width: 0px;
      width: 100%;
}

/* wrapper section */
.input-wrapper{
      margin-top: 1em;
      transition:1s all;
}
.description{
  margin-bottom: 1em;
}
textarea{
      width: 100%;
      /* height: auto; */
      padding:1em;
      border:none;
      outline:none;
      border-radius: 2rem;
      resize: none; /* Disable the default resize behavior */
      overflow: hidden; /* Hide the scrollbar */
}
.seo p{
      margin-bottom: 1em;
}

/* tags section */
.tags-container {
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      margin:1em 0;
}
.tag-list {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin: 0.5em 0;
}
.tag {
      display: inline-block;
      padding:0.1em 0.5em;
      /* border: 1px solid #ccc; */
      border-radius:20px;
      cursor: pointer;
      background-color: rgb(51, 51, 51);
}

.tag.selected {
      background-color:green;
}
.selected-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
}

.selected-tag {
      padding:0.1em 0.5em;
      background-color: rgb(51, 51, 51);
      /* border: 1px solid #ccc; */
      border-radius:20px;
      cursor: pointer;
}

/* post section */
.post{
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      margin-top: 1em;
}
.post button{
            align-items: center;
            justify-content: center;
            cursor: pointer;
            user-select: none;
            vertical-align: middle;
            appearance: none;
            text-decoration: none;
            font-family: Rubik, sans-serif;
            font-weight: 500;
            font-size: 0.75rem;
            min-width: 64px;
            padding: 6px 8px;
            color: rgb(26, 26, 26);
            background-color: rgb(0, 213, 250);
            border-radius: 3rem;
}

::placeholder {
      font-size: 1rem;
}