@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins,'sans-serif';
}

/* Color-theme and design styles */

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.section{
    padding: 4rem 0 2rem;
}

.container{
    padding: 0 1.5rem;
}

.icon{
    font-size: 2rem;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
}

.btn{
    background: rgb(47, 9, 40);
    padding: 0.6rem 1.5rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn a{
    color: rgba;
    font-weight: 500;
}

.btn:hover{
    background: rgb(125, 43, 149);
}

img{
    width: 100%;
    height: auto;
}

input{
    font-size: 100%;
}

body{
    background: #e7dbe3;
    color: rgb(0, 0, 0);
}