*,body{
    margin:10px;
    background-color: #181a1b;
   
}
.heading{
    margin-left: auto;
   margin-right: auto;
   width:40%;
   text-align: center;
   margin-top:40px;
   margin-bottom:50px;
   color: white;
}
h2{
   font-family:cursive;
   font-size: 2.2em;
   font-weight: bold;
   
}
.wrapper::-webkit-scrollbar{
    width:0;  
    
}

.card_content:hover{
    cursor:pointer;
    transform: scale(1.1);
}

.card_content{
    text-align: center;
   color: white;
   background-color:rgb(228, 132, 248);
  
}
.card_body{
    background-color:rgb(228, 132, 248);
    margin-top: 20px;
}
.wrapper {
    display: flex;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border:2px solid grey;
   background-color:rgb(163, 26, 203);
  
  }

  .div_carousel{
    background-color: rgb(163, 26, 203);
   margin-top:30px;
  
  }
  
  .wrapper:hover {
    animation-play-state: paused;
  }
  .card_title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top:20px;
    text-align: left;
    font-size: medium;
    display:flex;
    align-items: center;
    background-color:rgb(228, 132, 248);
  }
.card_content h4{
    font-family:'Javanese Text';
   font-size:1.8rem;
   background-color:rgb(228, 132, 248);
  
}
h5{

    background-color:rgb(228, 132, 248); 
}