
  .inside{
    margin-top: 1.5rem;
  }
  .user{
    background-size: contain;
    background-position: center;
    background-image: url(../images/user.png);
    margin: .2rem;
    height: 1.1rem;
    width: 1.1rem;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  .like{
    background-size: contain;
    background-position: center;
    background-image: url(../images/like.png);
    height: 1.1rem;
    width: 1.1rem;
    margin-top: 0.4rem;
    cursor: pointer;
  }
  .darkliked{
    background-size: contain;
    background-position: center;
    background-image: url(../images/darklike.png);
    cursor: pointer;
    height: 1.1rem;
    width: 1.1rem;
    margin-top: 0.4rem;
    
  }
  .dislike{
    background-size: contain;
    background-position: center;
    background-image: url(../images/like.png);
    cursor: pointer;
    height: 1.1rem;
    width: 1.1rem;
    rotate: 180deg;
    margin-top: 0.6rem;
    margin-left: 0.2rem;
  }
  .darkdisliked{
    background-size: contain;
    background-position: center;
    background-image: url(../images/darklike.png);
    cursor: pointer;
    height: 1.1rem;
    width: 1.1rem;
    rotate: 180deg;
    margin-top: 0.6rem;
    margin-left: 0.2rem;
  }
  .text{
    margin-top: 1rem;
    font-size: 0.9rem;
    /* margin: auto; */
  }
  .maincomp{
    background-color:  rgb(235 198 244);
    height: 15rem;
    /* width:25rem; */
    margin:4rem 2rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border:.1rem solid black;
  }
  .topcomp{
    
    text-transform: capitalize;
    display:flex;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    /* border:.1rem solid black; */
  }
  .name{
    font-size: 1.2rem;
  }
  .college{
    padding:0 0.6rem;
    margin-top: 0.4rem;
    font-size: .8rem;
  }