@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Baloo+Da+2&family=Open+Sans:wght@300&family=Poppins:wght@100&family=Public+Sans:wght@100&family=Quicksand:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:  'Poppins', sans-serif;
    /* cursor: grab; */
}

body{
    background: #081b29;
}

.Main{
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;    
}

.main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    /* display: inline-block; */
    z-index: 0;
    /* background-color: blue; */
    padding: 0 1rem ;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

.heading{
    display: inline-block;
    width: 100%;
    text-decoration: solid;
    color: #b0bec4c4;
    text-transform: uppercase;
    font-size: 3rem;
  }

.heading :hover{
    color: #8ceef2;
}

  .animation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    overflow: hidden;
    padding: 2rem 0;
    text-align: left;
  }
  